.site-title {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.site-title .site-logo {
  width: auto;
  flex-grow: 1;
}

.max-width-512 {
  max-width: 512px;
}

.max-width-256 {
  max-width: 256px;
}

.max-width-128 {
  max-width: 128px;
}

// located in /assets/css
@import "./youtubePlayer.css";