/*

  Page layout styles

*/

.main {
  max-width: unset;
}

main {;
  text-align: justify;
}

main {
  @include mq(xl) {
    max-width: 60vw;
    margin: 0 auto;
  }
}

/* Changing the page layout to full width removing the empty spaces on sides */

// overrides side-bar width to only the nav width removing the left empty space
.side-bar {
  @include mq(lg) {
    width: $nav-width;
  }

  & + .main {
    @include mq(md) {
      margin-left: $nav-width-md;
      margin-right: $nav-width-md;
      //max-width: calc(100vw - (2 * #{$nav-width-md}));
    }
    @include mq(lg) {
      // overrides left margin to match the side-bar width without left empty space
      margin-left: $nav-width !important;
      margin-right: $nav-width !important;
      // the content max width should be 100vw minus two side-bars (for each side)
      //max-width: Max(#{$nav-width}, calc(100vw - (2 * #{$nav-width})));
    }
  }
}