# Makes the Vertex class in ModelPart public
public net.minecraft.client.model.geom.ModelPart$Vertex
# Makes the Polygon class in ModelPart public
public net.minecraft.client.model.geom.ModelPart$Polygon

# Makes EFFECTS in DimensionSpecialEffects public
public net.minecraft.client.renderer.DimensionSpecialEffects f_108857_ # EFFECTS

# ChunkGenerator
public net.minecraft.world.level.chunk.ChunkGenerator m_208090_(Lnet/minecraft/core/Holder;)Ljava/util/List; # getPlacementsForFeature

# Structures
public-f net.minecraft.world.level.levelgen.structure.StructureStart # extendable StructureStart
public net.minecraft.world.level.levelgen.structure.StructureStart f_192654_ # pieceContainer

public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer <init>(Lnet/minecraft/core/Registry;ILnet/minecraft/world/level/levelgen/structure/pools/JigsawPlacement$PieceFactory;Lnet/minecraft/world/level/chunk/ChunkGenerator;Lnet/minecraft/world/level/levelgen/structure/templatesystem/StructureManager;Ljava/util/List;Ljava/util/Random;)V
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer f_210321_ # placing
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer m_210333_(Lnet/minecraft/world/level/levelgen/structure/PoolElementStructurePiece;Lorg/apache/commons/lang3/mutable/MutableObject;IZLnet/minecraft/world/level/LevelHeightAccessor;)V # tryPlacingChildren

public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState <init>(Lnet/minecraft/world/level/levelgen/structure/PoolElementStructurePiece;Lorg/apache/commons/lang3/mutable/MutableObject;I)V
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState f_210307_ # piece
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState f_210308_ # free
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState f_210309_ # depth

public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement m_227247_(Lnet/minecraft/world/level/levelgen/structure/pools/StructurePoolElement;Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/Rotation;Lnet/minecraft/world/level/levelgen/structure/templatesystem/StructureTemplateManager;Lnet/minecraft/world/level/levelgen/WorldgenRandom;)Ljava/util/Optional; # getRandomNamedJigsaw
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement m_227210_(Lnet/minecraft/world/level/levelgen/RandomState;IZLnet/minecraft/world/level/chunk/ChunkGenerator;Lnet/minecraft/world/level/levelgen/structure/templatesystem/StructureTemplateManager;Lnet/minecraft/world/level/LevelHeightAccessor;Lnet/minecraft/util/RandomSource;Lnet/minecraft/core/Registry;Lnet/minecraft/world/level/levelgen/structure/PoolElementStructurePiece;Ljava/util/List;Lnet/minecraft/world/phys/shapes/VoxelShape;)V # addPieces
