@import "./color_schemes/dark";

$grey-dk-000: #21262e;
$grey-dk-100: #2d333b;
$grey-dk-200: #373e47;
$grey-dk-250: #434c56;
$grey-dk-300: #545d68;
$grey-lt-000: #626e7b;
$grey-lt-100: #768390;
$grey-lt-200: #909dab;
$grey-lt-300: #afbac5;
$purple-000: #362160;
$purple-100: #472c82;
$purple-200: #5936a2;
$purple-300: #6b44bc;
$blue-000: #102d5c;
$blue-100: #143d79;
$blue-200: #1b4a91;
$blue-300: #255ab2;
$green-000: #103417;
$green-100: #1b4721;
$green-200: #245829;
$green-300: #2c6a30;
$yellow-000: #452700;
$yellow-100: #593600;
$yellow-200: #6c4400;
$yellow-300: #825303;
$red-000: #5d1012;
$red-100: #78191b;
$red-200: #922323;
$red-300: #ad2e2b;

.site-footer {
  color: #626e7b;
}