{%- comment -%}
{%- endcomment -%}

<div class="right-bar side-bar">
    <nav aria-label="Secondary" class="site-nav" id="right-nav">
        <b>Table of contents</b>
        <ul class="nav-list main-content">
            {% include toc.html
            sanitize=false
            ordered=true
            html=content
            class="nav-list"
            submenu_class="nav-list"
            item_class="nav-list-item active"
            anchor_class="nav-list-link"
            h_min=1
            h_max=6
            %}
        </ul>
    </nav>
    <div class="menu-button">
        <button id="right-menu-button" class="site-button btn-reset" aria-label="Toggle menu" aria-pressed="false">
            <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
        </button>
    </div>
</div>
