{%- comment -%}
{%- endcomment -%}

<div class="right-bar side-bar">

  <nav class="site-nav" aria-label="Secondary">
    <b>Table of contents</b>
    <ul class="nav-list main-content">
        {% include toc.html
                      sanitize=false
                      ordered=true
                      html=content
                      class="nav-list"
                      item_class="nav-list-item"
                      anchor_class="nav-list-link"
                      h_min=1
                      h_max=6
        %}
    </ul>
  </nav>
</div>
